// Colors
$primary-color: black;
$background-color: white;

$primary-tone: #FFD7D2;
$secondary-tone: #81D7D2;

// Important measures
$wrapper-width: 1920px;

// Breakpoints
$desktop-large: 1200px;
$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 300px;