<app-navigation></app-navigation>
<section>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading" [ngClass]="{ error: hasErrors }">
        <div class="logo">
            <img src="../../assets/icons/logo-white.svg" />
        </div>
        <div>
            <label for="username">Username</label>
            <input
                placeholder="John Doe"
                type="text"
                id="username"
                class="form-control"
                ngModel
                name="username"
                required
            />
        </div>
        <div>
            <label for="password">Password</label>
            <input
                placeholder="************"
                type="password"
                id="password"
                class="form-control"
                ngModel
                name="password"
                required
                minlength="3"
            />
        </div>
        <div>
            <label for="repeatPassword">Repeat password</label>
            <input
                placeholder="************"
                type="password"
                id="repeatPassword"
                class="form-control"
                ngModel
                name="repeatPassword"
                required
                minlength="3"
            />
        </div>
        <div class="button-holder">
            <a
                [routerLink]="['/login']"
                class="btn small link"
            >
                Login
            </a>
            <button
                class="btn small"
                type="submit"
                [disabled]="!authForm.valid"
            >
                Register
            </button>
        </div>
    </form>
</section>